.hp-timeseries-wrapper {
  cursor: ew-resize;
}

.tabs.tabs {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #1ed3c6;
  display: flex;
  flex-direction: row;
}

.tabs-item {
  margin: 0;
  padding: 0.3em 0.6em;
  list-style-type: none;
  position: relative;
}

.tabs-item.is-active {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #1ed3c6;
  border-bottom: none;
}

.tabs-item.is-active::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
}

.tabs .tabs-item a {
  color: inherit;
}

.tab-content {
  padding: 1rem 0;
}

.drag-direction {
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
}

.ctls-container {
  border-top: 1px solid #1ed3c6;
  display: flex;
  flex-direction: row;
}

.ctls-left,
.ctls-center,
.ctls-right {
  margin: 1rem 0;
  width: 33.33%;
}

.ctls-radio-label {
  display: block;
  margin: 0.2em 0;
}

.ctls-radio-label span {
  margin-left: 0.5em;
}

.ctls-center .legend {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ctls-center .legend-item {
  margin: 0.2em 0;
  line-height: 1;
  padding: 0;
  vertical-align: middle;
  color: var(--legend-color);
}

.ctls-center .legend-item-indicator {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.5em;
}

.tooltip-line {
  font-size: 0.9rem;
  margin: 0.2rem 0;
}
