/* TODO write css */

.example-menu {
  margin: 0;
  padding: 0;
}

.example-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.example-menu button {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
}
