{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "import", "@typescript-eslint", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": [2, "always"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "warn"
  }
}
